<p><%= "#{@tweet.content}" %></p>

<p><a href="/tweets/<%= @tweet.id %>/edit">Edit Tweet</a></p>

<form method="POST" action="/tweets/<%= @tweet.id %>">
<input id="hidden" type="hidden" name="_method" value="DELETE">
<p><input type="submit" value="Delete Tweet"></p>
</form>